@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap');

:root {
    --text-color:#4C1D95;
    --box-color:#8B5CF6;
}

body{
    font-family: 'Roboto Condensed', sans-serif;
    margin:0px;
    color: var(--text-color);
}

section div {
    flex: 1;
}

#container {
    display: flex;
     width:80%;
    margin: auto;
    margin-top: 5rem;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    border-radius: 2rem;
    flex-wrap: wrap;
    
    
}
 #left{
    max-width: 500px;
    width: 500px;
    height:auto;
    
}

img {
    width:500px;
    padding:1rem;
    max-width: 100%;
    max-height: 100%;
}
#right{
   padding:0rem 1rem 1rem 1rem;
   place-content: center;

}

#right h1{
    text-align: center;
    padding: 1rem;
    margin-bottom: 0px;
    
}
#name{
    font-size: larger;
}

.input-div{
    text-align: center;
}

.name-input {
    text-align: center;
    margin: 1rem;
    border: 2px solid  #4F4485;
    border-radius: 1rem;
    height:5vh;
    background-color:#D1B7DE;
}
.dob-input {
    margin: 1rem;
    border: 2px solid #4F4485;
    border-radius: 1rem;
    height:5vh;
    width:180px;
    background-color:#D1B7DE;
    
    
}


.button {
    text-align: center;
}

#btn-submit{
    margin: 1rem;
    border: 2px solid #4F4485;
    border-radius: 1rem;
    height:5vh;
    width:180px;
    background-color: #4F4485;
    color:white;
    cursor: pointer;
    font-size: large;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.output{
    text-align: center;
    font-size: larger;
    font-weight: bold;
    color:var(--text-color);
}
    
    
    
    
    


